<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>jquery ajax的post功能测试</title>

    <script src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.js"></script>

    <script>
    $(document).ready(function(){
      $("#btn1").click(function(){
        $.ajax({
                type:"POST",
                url:"posttest",
                data:$("#mypost").serialize,
                success:function(data){alert(data);},
                error:function(xhr,responseTxt,statusTxt){alert("Errordddd: "+xhr.status+": "+xhr.statusText)}
            })
        });

      })
    })
    </script>
</head>
<body>
<h3>jquery ajax的post功能测试</h3>
<form method="POST" id="mypost">
<p>名字：</p>
<input type="text" name="name" id="name"><br>
<p>年龄：</p>
<input type="text" name="age" id="age"><br><br>
<input type="submit" value="Submit" id="btn1">
</form>

</body>
</html>