{% extends "owindex.html" %}
{% block page %}
<div class="container">
<h3><center><font color="blue">海外游戏正式服数据查询</font></center></h3></div>
<div class="container">
  <div class="row">
    <form role="form" id="contact-form" class="contact-form">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" name="Name" autocomplete="off" id="Name" placeholder="Name"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <textarea class="form-control textarea" rows="3" name="Message" id="Message" placeholder="Message"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn main-btn pull-right">Send a message</button></div>
      </div>
    </form>
  </div>
</div>
{% endblock %}