{% extends "owindex.html" %}
{% block page %}
<div class="container">
    <h3>
        <center>
            <font color="red">
                海外游戏正式服数据查询 这是个测试文件，后期删除
            </font>
        </center>
    </h3>
</div>
<br><br>

<div class="container">
    <div class="row">
        <form role="form" id="contact-form" class="contact-form">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="checkbox checkbox-inline checkbox-info">
                            <input type="checkbox" class="styled" id="inlineCheckbox1" value="option1">
                            <label for="inlineCheckbox1">
                                选项1
                            </label>
                        </div>
                        <div class="checkbox checkbox-inline checkbox-info">
                            <input type="checkbox" class="styled" id="inlineCheckbox2" value="option2">
                            <label for="inlineCheckbox2">
                                选项2
                            </label>
                        </div>
                        <br><br>

                        <input type="button" value="全选" class="btn" id="selectAll">
                        <input type="button" value="全不选" class="btn" id="unSelect">
                        <input type="button" value="反选" class="btn" id="reverse">
                        <input type="button" value="获得选中的所有值" class="btn" id="getValue">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea class="form-control textarea" rows="3" name="Message" id="Message"
                        placeholder="Message">
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn main-btn pull-right">
                        Send a message
                    </button>
                </div>
            </div>
        </form>
    </div>
<div>

{% endblock %}