{% extends "owindex.html" %}
{% block page %}
<div class="container">
<h3><center>服务器初始化</center></h3>
</div>
<div class="container">
  <div class="row">
    <form role="form" id="initserver-form" class="contact-form">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" name="Name" autocomplete="off" id="Name" placeholder="Name"></div>
            <button type="submit" class="btn main-btn pull-right">Send a message</button></div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}